.env
node_modules/
dist/

*.log
*.gz
*.log

/.vscode
/.idea
*.tmp
*.temp
*.bak

npm-debug.log*

.yarn

Thumbs.db
Desktop.ini
$RECYCLE.BIN/

.vscode/
*.code-workspace

.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml

.idea/
.eslintcache
.pnp/
.pnpm/
npm-debug.log*
yarn-error.log*
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
test*.json
scraped-items.json