node_modules
npm-debug.log
yarn-error.log
.env
*.local

*.cache
.cache/
.DS_Store
Thumbs.db
coverage
test/
__tests__/
*.spec.js
*.test.js
dist/
build/
.idea
.vscode
*.swp
*.swo
test*.json
market-history*.json